* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: "Hanken Grotesk", Arial, sans-serif;
    background-color: #262626;
    color: #D9D9D9;
    padding: 20px;
    height: 100vh;
    display: flex;
    justify-content: center;
}

header {
    text-align: center;
}

header > h1 {
    font-size: 20px;
    font-weight: 500;
    color: #F9F4DA;
}

header > p {
    font-size: 14px;
    max-width: 350px;
    color: #8E8E8E;
}

.status {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 20px;
    border-radius: 5px;
}

.status.won {
    background-color: rgba(16, 169, 91, 1);
}
.status.lost {
    background-color: rgb(169, 36, 16);
}

.status.farewell-message {
    background-color: #7A5EA7;
    border: 1px dashed #323232;
    font-style: italic;
    font-weight: 400;
}

.status > h3 {
    margin: 0;
    size: 20px;
}
.status > p {
    margin: 0;
    size: 16px;
}

.languages {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    justify-content: center;
    max-width: 350px;
    margin: 20px;
}

.languages > span {
    padding: 5px;
    border-radius: 5px;
    position: relative;
}

.languages > span.lost::before {
    content: "💀";
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    font-size: 0.85rem;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.7);
}

.word {
    display: flex;
    justify-content: center;
    gap: 2px;
}

.word > span {
    height: 40px;
    width: 40px;
    background-color: #323232;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid #F9F4DA;
    font-size: 18px;
}

.keyboard {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 8px;
    margin: 20px;
    max-width: 450px;
}

.keyboard > button {
    height: 35px;
    width: 35px;
    background-color: #FCBA29;
    border: 1px solid #D7D7D7;
    border-radius: 3px;
    cursor: pointer;
}


.keyboard > button.correct {
    background-color: #10A95B;
}

.keyboard > button.wrong {
    background-color: #EC5D49;
}

.newGame {
    background-color: #11B5E5;
    border: 1px solid #D7D7D7;
    border-radius: 4px;
    width: 225px;
    height: 40px;
    padding: 6px 12px;
    display: block;
    margin-inline: auto;
    cursor: pointer;
}